body {
  padding-top: 75px;
}

.headericon {
  color: whitesmoke;
  padding-right: 5px; 
}

table {
  width: 540px;
  outline: 1px solid  #337ab7;
  background: whitesmoke;
}

.Collapsible__trigger {
  display: block;
  font-size: 14px;
  font-family: 'Oswald', serif;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #337ab7;
  color: azure;
}

.Collapsible__trigger:after {
  font-family: 'FontAwesome';
  content: '\f7';
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms; }
.Collapsible__trigger.is-open:after {
  transform: rotateZ(90deg); }

.col-form-label {
    margin-left: 5px;
  }


#headeroverride {
    width: 540px;
  }

.panel-heading td {
    background: #337ab7;
    color: white;
    font-size: 16px;
    width: 540px;
    border: 1px solid white;
    }

.leftmost {
    width: 120px;
    font-weight: bold;
    border: 1px solid #337ab7;
  }

.rightmost {
    width: 420px;
    border: 1px solid #337ab7;
  }

.hourtype select {
    background: whitesmoke;
  }

select option {
  text-align: center;
}

.tableheader td {
    text-align: center;
    background: #337ab7;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 16px;
  }

.formlabel {
  width: 120px;
}
#formsubmit {
  font-size: 14px;
  color: #337ab7;
  font-weight: bold;
}

#headertext {
	color: white;
	text-align: center;
	background: #337ab7;
	margin: 0;
	font-weight: normal;
	padding: 20px 0;
	line-height: 1.1;
}

#stripe {
	text-align: center;
  padding-left: 5px;
	height: 40px;
	background: whitesmoke;
  border-bottom: 1px solid black;
	font-family: "Montserrat";
	font-weight: 700;
	text-transform: uppercase;
}



#detailsChart {
  height: 250px;
  width: 325px;
}

.chart {
  height: 300px;
  width: 425px;
}

.blue {
  color: blue;
}

/* Header component*/
#nav {
  font-family: 'Roboto Condensed', sans-serif;
  background: #337ab7;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#nav a {
  font-family: 'Roboto Condensed', sans-serif;
  color: whitesmoke;
  align-items: center;
  font-size: 14px;
}

#nav li {
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  list-style: none;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
}

#navbar-auth {
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  list-style: none;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
}

#nav li:hover {
  color: azure;
  text-decoration: none;
}

.stripe-button .selected {
	color: white;
	background: steelblue;
  margin: 6px;
}


/* for Table component */
.homebutton {
  font-size: 14px;
  font-family: 'Oswald', serif;
  color: azure;
  background: #337ab7;
}
#hourstable select {
  width: 27px;
}

/* Versus component */
.versus {
  padding-top: 20px;
}

/* for Versus component */
.red {
  color: crimson;
}

.centered {
  text-align: center;
}

/* for Analysis component*/
.select2object {
  width: 400px;
}


/*for FinancialComparison */
.bottom-border { 
  border-bottom: 1px solid black;
}

/* Tachyons */

@import './_normalize';

.ba {
    border-style: solid;
    border-width: 1px;
}

.bt {
    border-top-style: solid;
    border-top-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black {
    border-color: #000;
}

.br-100 {
    border-radius: 100%;
}

.dib {
    display: inline-block;
}

.avenir {
    font-family: 'avenir next', avenir, sans-serif;
}

.baskerville {
    font-family: baskerville, serif;
}

.i {
    font-style: italic;
}

.fw1 {
    font-weight: 100;
}

.fw4 {
    font-weight: 400;
}

.h2 {
    height: 2rem;
}

.tracked {
    letter-spacing: .1em;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.mw7 {
    max-width: 48rem;
}

.w2 {
    width: 2rem;
}

.black-80 {
    color: rgba(0, 0, 0, .8);
}

.white {
    color: #fff;
}

.bg-black-80 {
    background-color: rgba(0, 0, 0, .8);
}

.bg-white {
    background-color: #fff;
}

.hover-bg-light-yellow:hover {
    background-color: #fbf1a9;
}

.hover-bg-light-yellow:focus {
    background-color: #fbf1a9;
}

.hover-bg-light-pink:hover {
    background-color: #ffa3d7;
}

.hover-bg-light-pink:focus {
    background-color: #ffa3d7;
}

.hover-bg-light-green:hover {
    background-color: #9eebcf;
}

.hover-bg-light-green:focus {
    background-color: #9eebcf;
}

.hover-bg-light-blue:hover {
    background-color: #96ccff;
}

.hover-bg-light-blue:focus {
    background-color: #96ccff;
}

.hover-bg-lightest-blue:hover {
    background-color: #cdecff;
}

.hover-bg-lightest-blue:focus {
    background-color: #cdecff;
}

.pa3 {
    padding: 1rem;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mb0 {
    margin-bottom: 0;
}

.mt2 {
    margin-top: .5rem;
}

.mt4 {
    margin-top: 2rem;
}

.tc {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.f1 {
    font-size: 3rem;
}

.f6 {
    font-size: .875rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .15s ease-in-out;
}

@media screen and (min-width: 60em) {
    .ph4-l {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .f5-l {
        font-size: 1rem;
    }
}

